*{
    margin:0;
    padding:0;
    font-family: cursive;
}
.d1{
    height: 100vh;
    width: 60%;
    background-color: lightgray;
}
.calc{
    top: 10%;
    left: 8%;
    position: absolute;
    width: 40%;
    background-color: #363636;
    padding: 30px 20px 30px 20px;
}
#ip{
    height: 8vh;
    width: 100%;
    font-size: 6vh;
    background-color: #363636;
    color: white;
    border: none;
    outline: none;
    border-bottom: 3px solid greenyellow;
}
button{
    width: 20%;
    height: 8vh;
    margin-top: 2%;
    margin-left: 3%;
    font-size: 6vh;
    background-color: #363636;
    color: white;
    border: none;
    outline: none;
}
button:hover{
    transform: scale(1.2);
    color: greenyellow;
}
.clrbtn{
    width: 91%;
}
.clrbtn:hover{
    transform: scale(1.0);
    color: greenyellow;
}
.d2{
    height: 100vh;
    width: 40%;
    top: 0;
    left: 60%;
    position: absolute;
    background-color: aqua;
}
h4{
    top: 5%;
    left: 30%;
    position: absolute;
    font-size: 50px;
}
#history{
    max-width:80%;
    top: 20%;
    left: 15%;
    position: absolute;
    font-size: 30px;
}
@media only screen and (max-width:425px){
    .d1{
        width: 100%;
    }
    .calc{
        width: 60%;
        left: 15%;
    }
    .d2{
        width: 100%;
        top: 90vh;
        left: 0;
        background-color: lightgray;
    }
    h4{
        left: 25%;
    }
    #history{
        max-width: 70%;
        left: 20%;
    }
}